<%
	if @user
		full_name = @user.family_name + @user.given_name
		@title = "#{full_name}さんのログイン・ログアウト記録"
	else
		@title = "ユーザーのログイン・ログアウト記録"
	end
%>
<h1><%= @title %></h1>

<div class="table-wrapper">
	<div class='links'>
		<%= link_to 'User list', :admin_users %>
	</div>

	<%= paginate @events %>

	<table class='listing'>
		<tr>
			<% unless @user %><th>Name</th><% end %>
			<th>Type</th>
			<th>Date</th>
		</tr>
		<% @events.each do |event| %>
			<%= UserEventPresenter.new(event, self).table_row %>
		<% end %>
		<% if @events.empty? %>
			<tr>
				<%= content_tag(:td, 'The event is empty.',
					colspan: @user ? 2 : 3, style: 'text-align: center') %>
			</tr>
		<% end %>
	</table>

	<%= paginate @events %>

	<div class='links'>
		<%= link_to 'User list', :admin_users %>
	</div>
</div>


